/* font styles */
.poppins-font {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.container{
  max-width:1110px;
  margin:0 auto;
}
.display-flex{
  display:flex;
}
.font-24{
  font-size:1.5rem;
  font-weight: bold;
  color:#3A3A3A;
}
.font-16{
  font-size:1rem;
  font-weight: 600;
  color:#3A3A3A;
}

.btn-primary{
  font-weight: 700;
  padding:10px 24px;
  border-radius:41px;
  color:rgb(255, 255, 255);
  background-color:rgb(224, 44, 109);
  border:none;
}
.fa-solid{
  margin-left:12px;
}

/* nav styles */
.nav{
  align-items: center;
  justify-content: space-between;
  margin-top:87px;
  margin-left:120px;
  margin-right:120px;
}
.nav ul{
  list-style:none;
  gap:34px;
  margin-top:0;
  margin-bottom:0;
}

.nav a{
  text-decoration: none;
  color:#3A3A3A;
}
.header-title{
  margin-top:0;
  margin-bottom:0;
}


/* banner styles */
.banner{
  justify-content: space-between;
  gap:133px;
  align-items: center;
  margin-top:50px;
  margin-left:120px;
  margin-right:132px;
  background-image: url('../images/Circle\ design.svg');
  background-repeat:no-repeat;
  background-position:right;
  height:480px;
}
.banner-title{
  font-size:3.25rem;
  font-weight:bold;
  color:rgba(58, 58, 58, 1.00);
  margin-bottom: 0;
}
.banner-subtitle{
  font-weight: 600px;
  color:rgba(58, 58, 58, 1.00);
  margin-top:16px;
  margin-bottom:16px;
}
.banner-contents{
  max-width: 582px;
}

/* websites link styles */
.websites-link{
  gap:61px;
  margin-top:69px;
  margin-bottom:100px;
}

/* responsive media query */
/* for mobile */
@media screen and (max-width:576px){
  .nav{
    flex-direction: column;
  }
  .nav{
    margin-top:30px;
    margin-left:10px;
    margin-right:10px;
  }
  .nav-items{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    padding:0;
  }
  .nav ul li:nth-child(5){
    grid-column-start: 2;
  }
  .nav ul{
    row-gap:20px;
  }
  .header-title{
    margin-bottom:20px;
  }
  .banner{
  flex-direction:column-reverse;
  height:auto;
  background-size:257px 257px;
  background-position: top;
  margin-top:22px;
  margin-left:10px;
  margin-right:10px;
  gap:14px;
  text-align: center;
  }
  .banner-title{
    font-size: 1.75rem;
  }
  .banner-subtitle{
    font-size:0.875rem;
    font-weight:500;
  }
  .banner-image img{
    width:202px;
    height:190px;
  }
}