* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* font styles */
.poppins-font {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.container {
  max-width: 1110px;
  margin: 0 auto;
}
.display-flex {
  display: flex;
}
.font-24 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3a3a3a;
}
.font-16 {
  font-size: 1rem;
  font-weight: 600;
  color: #3a3a3a;
}

.btn-primary {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 24px;
  border-radius: 41px;
  color: rgb(255, 255, 255);
  background-color: rgb(224, 44, 109);
  border: none;
}
.fa-solid {
  margin-left: 12px;
}

/* nav styles */
.nav {
  align-items: center;
  justify-content: space-between;
  margin-top: 87px;
  margin-left: 120px;
  margin-right: 120px;
}
.nav ul {
  list-style: none;
  gap: 34px;
  margin-top: 0;
  margin-bottom: 0;
}

.nav a {
  text-decoration: none;
  color: #3a3a3a;
}
.header-title {
  margin-top: 0;
  margin-bottom: 0;
}

/* banner styles */
.banner {
  justify-content: space-between;
  gap: 133px;
  align-items: center;
  margin-top: 50px;
  margin-left: 120px;
  margin-right: 132px;
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: right;
  height: 480px;
}
.banner-title {
  font-size: 3.25rem;
  font-weight: bold;
  color: rgba(58, 58, 58, 1);
  margin-bottom: 0;
}
.banner-subtitle {
  font-weight: 600px;
  color: rgba(58, 58, 58, 1);
  margin-top: 16px;
  margin-bottom: 16px;
}
.banner-contents {
  max-width: 582px;
}

/* websites link styles */
.websites-link {
  gap: 61px;
  margin-top: 69px;
  margin-bottom: 100px;
}
.websites-link img {
  max-width: 100%;
}

/* popular collection styles */
.star {
  display: flex;
  align-items: center;
}
.popular-collection-title {
  font-size: 28px;
  font-weight: 600;
  color: rgb(58, 58, 58);
  margin-bottom: 47px;
  text-align: center;
}
.card-title {
  font-size: 28px;
  font-weight: 500;
  color: #18191f;
  margin-top: 16px;
  margin-bottom: 6px;
}
.product-price {
  font-size: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 0;
  margin-bottom: 8px;
}
.product-ratings {
  font-size: 14px;
  font-weight: 700;
  color: rgb(94, 99, 102);
}
.card-subtitle {
  font-size: 14px;
  font-weight: 700;
  color: rgb(120, 120, 133);
  max-width: 205px;
  margin-top: 15px;
}
.star span {
  margin-left: 10px;
}
.collection-card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 17px 15px 27px 14px;
  border-radius: 5px;
}
.popular-collection-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.collection-card .main-image {
  width: 100%;
}
.see-more {
  margin-top: 50px;
  text-align: end;
  font-size: 16px;
  font-weight: 700;
  color: rgba(224, 44, 109, 0.87);
}
.popular-collection {
  margin-bottom: 100px;
}

/* featured products styles */
.featured-products {
  display: flex;
  gap: 96px;
  align-items: center;
  margin-bottom: 100px;
}
.featured-products-title {
  font-size: 38px;
  font-weight: 700;
  color: rgb(10, 8, 38);
  margin-bottom: 16px;
}
.featured-products-subtitle {
  font-size: 16px;
  font-weight: 700;
  color: rgb(108, 108, 108);
  margin-bottom: 16px;
  max-width: 501px;
}
.join-btn {
  border-radius: 0;
}

/* footer */
footer {
  background-color: rgb(10, 8, 38);
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.footer-title {
  font-size: 24px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.footer-subtitle {
  font-size: 14px;
  font-weight: 700;
  color: rgb(217, 219, 225);
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer-subtitle-2 {
  font-size: 14px;
  font-weight: 700;
  color: rgb(217, 219, 225);
  margin-bottom: 17px;
}

/* responsive media query */

/* for mobile */
@media screen and (max-width: 576px) {
  /* nav */
  .nav {
    flex-direction: column;
  }
  .nav {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-items {
    flex-direction: column;
    align-items: center;
  }
  .nav ul {
    gap: 20px;
  }
  .header-title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  /* banner */
  .banner {
    flex-direction: column-reverse;
    height: auto;
    background-size: 257px 257px;
    background-position: top;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    text-align: center;
  }
  .banner-title {
    font-size: 1.75rem;
  }
  .banner-subtitle {
    font-size: 0.875rem;
    font-weight: 500;
    max-width: 321px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .banner-image img {
    width: 202px;
    height: 190px;
    margin: 51px 33px 0 22px;
  }

  /* website links */
  .websites-link {
    flex-wrap: wrap;
    justify-content: center;
    /* max-width:275px; */
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
    column-gap: 32px;
    row-gap: 25px;
  }
  .websites-link img {
    max-width: 18%;
  }

  /* popular collection */
  .popular-collection-title {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .popular-collection-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
  .popular-collection-cards {
    margin-left: 16px;
    margin-right: 16px;
  }
  .card-title {
    font-weight: 700;
  }
  .product-price {
    font-weight: 700;
  }
  .product-ratings {
    font-weight: 500;
  }
  .card-subtitle {
    font-weight: 400;
  }
  .see-more {
    margin-top: 32px;
    margin-right: 16px;
  }
  .popular-collection {
    margin-bottom: 50px;
  }

  /* featured products */
  .featured-products {
    flex-direction: column-reverse;
    gap: 30px;
    margin-bottom: 50px;
  }
  .featured-products-title {
    font-size: 24px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
  }
  .featured-products-subtitle {
    text-align: center;
    line-height: 28px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 35px;
  }
  .featured-products-button-parent {
    display: flex;
    justify-content: center;
  }
  .featured-products img {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  /* footer */
  .footer-title {
    font-size: 16px;
  }
  .footer-subtitle {
    font-size: 12px;
  }
  .footer-subtitle-2 {
    font-size: 12px;
  }
  footer img {
    width: 130px;
  }
}
